*{
    box-sizing: border-box;
margin: 0px;
padding: 0px;
}
div.caja{
    display: table-cell;
}
img{
    width: 450px;
    height: 450px;
}
section{
    overflow: hidden;
    position: relative;
    width:  450px;
    height: 850px;
}
body{
    background-image:url('../img/img1.jpg');
    height: 100%;

}
div.contenedor{
    position: absolute;
animation: siguiente-img 6s infinite alternate;
}
@keyframes siguiente-img {
    0%{
        margin-left: 0px;
    }
    10%{
        margin-left: 0px;
    }
    90%{
        margin-left:-450px ;
    }
    100%{
        margin-left: -450px;
    }
}